
* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body {
    background-color: #f5f5f5;
}

.top {
    width: 100%;
    height: 27px;
    background: url("../images/top_bg.jpg") repeat-x;
}

.top-content {
    width: 1000px;
    margin: 0 auto;
}

.top-content li {
    list-style-image: url("../images/li_bg.gif");
    float: right;
    width: 70px;
    line-height: 27px;
}

.top-content a:link, .top-content a:visited {
    color: #8e8e8e;
    text-decoration: none;
}

.top-content a:hover, .top-content a:active {
    color: #990000;
    text-decoration: none;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.logo {
    height: 84px;
    background-color: #fff;
}

.logo-left {
    width: 200px;
    float: left;
}

.logo-right {
    width: 300px;
    float: right;
    height: 28px;
    margin-top: 30px;
    color: #8e8e8e;
}

.logo-right img {
    vertical-align: middle;
    margin-right: 10px;
}

.tel {
    font-family: "思源黑体 CN Normal";
    font-size: 16px;
    color: #cc0000;
}

.nav {
    height: 40px;
}

.nav-left {
    width: 10px;
    background: url("../images/nav_left.jpg") no-repeat;
}

.nav-mid {
    width: 980px;
    background: url("../images/nav_bg.jpg") repeat-x;
}

.nav-right {
    width: 10px;
    background: url("../images/nav_right.jpg") no-repeat;
}

.nav-left, .nav-mid, .nav-right {
    float: left;
    height: 40px;
}

.nav-mid-left, .nav-mid-right {
    float: left;
}

.nav-mid-left {
    width: 680px;
}

.nav-mid-right {
    width: 300px;
}

.nav-mid-left li {
    float: left;
    list-style-type: none;
    width: 100px;
    text-align: center;
	line-height: 40px;
}

.nav-mid-left a:link, .nav-mid-left a:visited {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
    font-family: "思源黑体 CN Normal", serif;
}

.nav-mid-left a:hover, .nav-mid-left a:active {
    text-decoration: none;
    color: #ff0;
    font-size: 16px;
    font-family: "思源黑体 CN Normal", serif;
}

.search-text {
    width: 190px;
    height: 25px;
    margin-top: 5px;
    background: #fff url("../images/search.jpg") no-repeat right center;
    padding-right: 25px;
    border: 1px solid #fff;
}

.main {
    height: 250px;
    background-color: #fff;
    margin-top: 5px;
}

.news {
    width: 340px;
    border: 1px solid #e8e8e8;
}

.course {
    width: 410px;
    border: 1px solid #e8e8e8;
    margin: 0 7px;
}

.sidebar {
    width: 230px;
}

.news, .course, .sidebar {
    height: 250px;
    float: left;
}

.title {
    height: 35px;
    border-bottom: 2px solid #e8e8e8;
}

.title-left {
    width: 70%;
    font-family: "Microsoft YaHei UI", serif;
    font-size: 14px;
    font-weight: bold;
    color: #786f66;
    float: left;
    line-height: 35px;
    padding-left: 20px;
}

.title-right {
    width: 20%;
    float: right;
    line-height: 35px;
    text-align: right;
    padding-right: 10px;
}

.title-right a {
    text-decoration: none;
    color: #999999;
}

.pic-news {
    height: 80px;
    margin-top: 10px;
    line-height: 22px;
}

.pic-news img, .course-pic img {
    float: left;
    margin: 0 5px;
}

.pic-news a, .course-pic a {
    color: #cc0000;
    text-decoration: none;
}

.news-list {
    margin-top: 20px;
}

.news-list li {
    list-style-type: none;
    background: url("../images/list.jpg") no-repeat;
    padding-left: 10px;
    margin: 8px;
    border-bottom: 1px dotted #ccc;
}

.news-list a:link, .news-list a:visited {
    text-decoration: none;
    color: #000;
}

.news-list a:hover, .news-list a:active {
    text-decoration: none;
    color: #f00;
}

.news-list span {
    color: #999999;
    float: right;
}

.course-pic {
    height: 120px;
    margin-top: 10px;
    line-height: 22px;
}

.course-type {
    height: 37px;
    width: 372px;
    background: url("../images/product_type_bg.jpg") no-repeat;
    margin: 20px auto;
}

.course-type li {
    list-style-type: none;
    float: left;
    line-height: 37px;
    margin: 0 15px;
    text-align: center;

}

.video {
    height: 185px;
    border: 1px solid #e8e8e8;
}

.video-content {
    height: 150px;
}

.sidebar-ad {
    height: 55px;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
}

.copyright {
    width: 100%;
    height: 200px;
    background-color: #e8e8e8;
    margin-top: 10px;
}

.copyright-content {
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

.copyright-content li {
    list-style-type: none;
    float: left;
    width: 200px;
    background: url("../images/line.png") no-repeat right center;
    text-align: center;
    line-height: 30px;
    font-family: "Microsoft YaHei UI", serif;
}

.copyright-content a {
    text-decoration: none;
    color: #999999;
    font-size: 18px;
}

.copyright-content li ul li a {
    font-size: 14px;
}